body {
  background: linear-gradient(to right, #2a9d8f, #e1fc46);
  /* Other styles */
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Arial, sans-serif;
}
